@model Cumulative01.Models.Teacher;

<h1> Teacher ID: <em> @Model.TeacherId </em> </h1>
<p> Teacher First Name: <em> @Model.TeacherFirstName </em></p>
<p>	Teacher Last Name: <em> @Model.TeacherLastName </em></p>
<p>	Teacher Employee ID: <em> @Model.EmployeeID </em></p>
<p>	Hired Since: <em> @Model.HireDate </em></p>
<p>	Salary Package:<em> @Model.Salary </em></p>